
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background: #4E4F50;
}


.topnav {
    position: fixed; /* gør at navbar bliver på top */
    top: 0;
    left: 0;
    z-index: 1000; /* gør at navbar for bliver over de andre contents */
    padding: 10px 0;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    color: black;
}

.topnav input[type=text],
.search-bar {
    padding: 6px;
    font-size: 17px;
    border: none;
}

/* Specifik styling af .topnav */
.topnav input[type=text] {
    float: right;
    margin-top: 8px;
    margin-right: auto;
}

/* udseende af søgefelt*/
.search-bar {
    border-radius: 4px;

}

/* fokus effekt på søgefelt */
.search-bar:focus {
    outline: none;
    background-color: #e0e0e0;
}

/* for de forskellige paralle sektioner */
.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* tidslinje sektioner*/
.timeline-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
    color:white;

}

.charts{
    color:white;
}


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;

}


p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #E2DED05;
}

.charts {
    height: 40vh;
    width: 40vw;
    margin: 2rem;
}

#section1{
    background-image: url('assets/background5.jpg');
    background-size: cover;
    background-position:center;

}

#section1 h1{
    font-size: 5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    display:flex;
    justify-content:space-between;
}

#section2 div{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 1400px;
    height: auto;
    padding:20px;
}

#section2 img{
    margin-left:300px;
    position: relative;
    overflow: hidden; /* Ensures the image is hidden before animation starts */
    width: 298rem;
}
.nato-img{
    position: absolute;
    right:-100%;
    animation:slide-in 3s ease-out forwards;
}
@keyframes slide-in {
    from {
        right: -100%; /* Start position på skærmen*/
    }
    to {
        right: 5%; /* Slut position på skærmen */
    }
}


#section3{
    background-color:#647C90;
}

#section3 h1{
    display:flex;
    margin-top:150px;

}

#section3 div{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    max-width: 1400px;
    height: auto;
    margin:20px;
    padding:0;
}

.ukraine-guys{
    margin-left:30px;
    position: relative;
    overflow: hidden; /* gør at billedet er gemt indtil det e rpå skærmen */
    width: 210rem;
    height:auto;
    padding:80px;
}

#section4 div{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    max-width: 1400px;
    height: auto;
    margin:20px;
    padding:0;
}

#section4 p{
    font-size:1.25rem;
}
#chart4{
    height:80vh;
    width:80vh;
}

.text-container {
    display: flex;
    gap: 5rem;
    width: 60vw;
    text-align: left;
    place-items: center;
}

.text-container p {
    font-size: 1.3rem;
}

#section5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#746c70;
}

.donetsk-img {
    width: 25vw;
}

#section6 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#infrastructure-img {
    width: 30vw;
}

#section7 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #647C90;
}


.ukraine-billede-feb23 {
    width: 30rem;

}

#section8 h1 {
    display:flex;
    margin-top:150px;
}

#section8 {
    background-color: #4e4f50;
}

#section8 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    justify-items: center;
    max-width: 1300px;

}

.ukraine-billede-jun23 {
    width: 27rem;
}

#section9{
    background-color: #647c90;
}

#section9 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    justify-items: center;
    max-width: 1300px;
}

.ukraine-billede-oct23 {
    width: 30rem;
}

#section10{
    background-color: #746c70;
}

#section10 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    justify-items: center;
    max-width: 1300px;
}

.ukraine-billede-dec23 {
    width: 30rem;

}

#section11{
    background-color: #647c90;
}

#section11 div {

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    justify-items: center;
    max-width: 1300px;
}

#section12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 1500px;
    height: 100%;
    margin: 20px;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

/* slides til sektion 12 */
.slides {
    display: flex;
    width: 400%;
    height:100%;
}
.slide {
    height:auto;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}
.slide p {
    margin: 10px 0;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
    text-justify: inter-word; /* tilføjer ordentlig mellemrum mellem linjerne*/
    hyphens:auto;

}
.slide0{
    height: 125%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.slide00{
    height: 125%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position:static;
}
.slide00 .charts{
    width: 105%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    max-width:1200px;
}
.slide00 p{
    font-size:1.9rem;
}

.slide000{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.slide000 .charts{
    width: 105%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width:600px;

}
.slide000 p{
    font-size:1.3rem;
}

.slide000 strong{
    font-size:1.8rem;
}

.slide1 {
    background-image: url('assets/humanitarian.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 125%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.slide2 {
    background-image: url('assets/moving.png');
    background-image: ;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 125%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.slide3 {
    background-image: url('assets/living-condition.jpg');
    background-size: 50%;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 125%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.slide4 {
    background-image: url('assets/diplomatic.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 125%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.slide5 {
    background-image: url('assets/mentalhealth2.jpg');
    background-size: 60%;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 125%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    border: none;
    background: #333;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: -5px;
}

.arrow:hover {
    background: #555;
}

#section13 {
    background-color: #E2DED0;
    color: black;
    padding: 50px;
    text-align: center;
    font-family: Arial, sans-serif;

}

.help-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.help-item {
    background-color:rgba(100, 124, 144, 0.5);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: left;
}

.help-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#section13 a{
    color: black;
    text-decoration: none;
}

