
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background: #4E4F50;
}


.topnav {
    position: fixed; /* gør at navbar bliver på top */
    top: 0;
    left: 0;
    z-index: 1000; /* gør at navbar for bliver over de andre contents */
    padding: 10px 0;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}

.topnav input[type=text],
.search-bar {
    padding: 6px;
    font-size: 17px;
    border: none;
}

/* Specifik styling af .topnav */
.topnav input[type=text] {
    float: right;
    margin-top: 8px;
    margin-right: auto;
}

/* udseende af søgefelt*/
.search-bar {
    border-radius: 4px;
    background-color: #f1f1f1;
}

/* fokus effekt på søgefelt */
.search-bar:focus {
    outline: none;
    background-color: #e0e0e0;
}

/* for de forskellige paralle sektioner */
.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

}

/* tidslinje sektioner*/
.timeline-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
    color:white;

}

.charts{
    color:white;
}


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #E2DED05;
}

.charts {
    height: 50vh;
    width: 50vw;
    margin: 5rem ;
}

#section1{
    background-image: url('background3.1.jpg');
    background-size: cover;
    background-position:center;

}

#section1 h1{
    font-size: 5rem;
    display:flex;
    justify-content:space-between;
}

#section2 div{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 1400px;
    height: auto;
    padding:20px;
}

#section2 img{
    margin-left:300px;
    position: relative;
    overflow: hidden; /* Ensures the image is hidden before animation starts */
    width: 298rem;
}
.nato-img{
    position: absolute;
    right:-100%;
    animation:slide-in 3s ease-out forwards;
}
@keyframes slide-in {
    from {
        right: -100%; /* Start position på skærmen*/
    }
    to {
        right: 5%; /* Slut position på skærmen */
    }
}


#section3{
    background-color:#647C90;
}

#section3 h1{
    display:flex;
    margin-top:150px;

}

#section3 div{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    max-width: 1400px;
    height: auto;
    margin:20px;
    padding:0;
}

.ukraine-guys{
    margin-left:30px;
    position: relative;
    overflow: hidden; /* gør at billedet er gemt indtil det e rpå skærmen */
    width: 210rem;
    height:auto;
    padding:80px;
}

#section4 div{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    max-width:1270px;
}

#section4 p{
    font-size:1.25rem;
}
#chart4{
    height:80vh;
    width:80vh;
}



.ukraine-billede {
    width: 18rem;

}

#section8 div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
    align-items: center;
    justify-items: center;
    max-width: 1300px;

}

.crises-gif {
    width: 18rem;
}

#section9 div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    align-items: center;
    justify-items: center;
    max-width: 1300px;
}

.palestine-img {
    width: 18rem;
}

#section10 div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
    align-items: center;
    justify-items: center;
    max-width: 1300px;
}

.war-gif {
    width: 18rem;

}

#section11 div {

    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    align-items: center;
    justify-items: center;
    max-width: 1300px;
}
